{{!
    @template mod_jupyter/jupyterhub


    Example context (json):
    {
    }
}}

<body>
    <div align="center">
        <iframe id="jupyter" src={{login}} width="70%" height="500" id="iframe" style="border:none;">
        </iframe>
    </div>
</body>
