{{!
    @template mod_jupyter/manage


    Example context (json):
    {
    }
}}



<body>
  <img src="images/unistuttgart_logo_deutsch.png" alt="logo" align="right">
  <h1 align="left">Jupyter</h1>
  <hr>
  <div align="center">
    <iframe src={{login}} id="iframe">
    </iframe>
  </div>
</body>

<style>

  iframe{
    display: block;
    border: none;
    height: 75vh;  
    width: 100%;
  }
  img{
    height: 3em;
  }
</style>
