{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jupyter/manage


    Example context (json):
    {
    }
}}

<body>
<img src="images/unistuttgart_logo_deutsch.png" alt="logo" align="right">
<h1 align="left">Jupyter</h1>
<hr>
<div align="center">
    <div id="description-wrapper">
        <div id="info">&#9432;</div>
        <p id="description">To get the original notebook without losing progress, you can save your changes to a different file by clicking on <b>file</b> in the top left corner and then select <b>Save as...</b>. Afterwards, you need to <b>delete</b> the original file and click the <b>Refresh</b> button.</p>
        <button id="iframe-refresh-button" onclick="refreshIFrame()">
            <div id="refresh-text">Reload</div>
            <div id="refresh-symbol">&#x21bb;</div>
        </button>
    </div>
    <iframe id="iframe" src="https://jupyter.org/try-jupyter/lab/"></iframe>
</div>
</body>

<script>
    function refreshIFrame() {
        // note that most other implementations do not work with Chrome
        document.getElementById('iframe').src += '';
    }
</script>

<style>
    iframe {
        display: block;
        border: none;
        height: 75vh;
        width: 100%;
    }

    #description-wrapper {
        margin: 20px 0 20px;
        display: flex;
        outline: 1px solid #888;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    #description-wrapper > * {
        margin: 1rem 2rem;
    }

    #iframe-refresh-button {
        position: relative;
        border: 2px solid green;
        border-radius: 4px;
        padding: 1.5rem 4rem;
        background: none;
        cursor: pointer;
        flex-basis: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #iframe-refresh-button > div {
        position: absolute;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .2s ease-in-out;
    }

    #refresh-text {
        left: 50%;
        transform: translateX(-50%);
    }

    #refresh-symbol {
        right: 20%;
        opacity: 0;
    }

    #iframe-refresh-button:hover #refresh-text {
        left: 20%;
        transform: none;
    }

    #iframe-refresh-button:hover #refresh-symbol {
        opacity: 1;
    }

    #info {
        color: red;
        font-weight: bold;
        font-size: 2rem;
        flex-basis: 5%;
    }

    #description {
        flex-basis: 100%;
        font-size: 1.5rem;
        text-align: left;
    }

    img {
        height: 3em;
    }

    @media only screen and (max-width:800px) {

        #description-wrapper {
            flex-direction: column;
        }

        #iframe-refresh-button:before {
            opacity: 1;
        }

    }
</style>
