{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jupyter/manage


    Example context (json):
    {
    }
}}

<body>
<img id="uni-logo" src="images/unistuttgart_logo_deutsch.png" alt="logo" align="right">
<h1 align="left">Jupyter</h1>
<hr>
<div align="center">
    <div id="description-wrapper">
        <div id="info">&#9432;</div>
        <p id="description">
            To get the original notebook without losing progress, you can save your changes to a different file by
            clicking on <b>"File"</b> in the top left corner and then select <b>"Save Notebook As..."</b>. Afterwards,
            you need to <b>delete</b> the original file and click the <b>"Refresh"</b> button.
        </p>
        <button id="iframe-refresh-button" onclick="refreshIFrame()">
            Refresh
            <img id="refresh-icon" src="images/refresh_icon.png" alt="refresh icon">
        </button>
    </div>
    <iframe id="iframe" src={{login}}></iframe>
</div>
</body>

<script>
    function refreshIFrame() {
        // note that most other implementations do not work with Chrome
        document.getElementById('iframe').src += '';
    }
</script>

<style>
    iframe {
        display: block;
        border: none;
        height: 75vh;
        width: 100%;
    }

    #description-wrapper {
        margin: 20px 0 20px;
        display: flex;
        outline: 1px solid #aaa;
        border-radius: 5px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    #description-wrapper > * {
        margin: 1rem 2rem;
    }

    #iframe-refresh-button {
        position: relative;
        padding: 1rem 4rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #1abc9c;
        border-bottom: 2px solid #12ab8d;
        box-shadow: inset 0 -2px #12ab8d;
    }

    #iframe-refresh-button:active {
        top: 1px;
        box-shadow: none;
    }

    #iframe-refresh-button > div {
        position: absolute;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .2s ease-in-out;
    }

    #refresh-icon {
        position: absolute;
        left: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.4s ease-in-out;
    }

    #iframe-refresh-button:hover #refresh-icon,
    #iframe-refresh-button:focus #refresh-icon {
        transform: rotate(360deg) scale(1.2);
    }

    #info {
        color: red;
        font-weight: bold;
        font-size: 2rem;
    }

    #description {
        flex-basis: 100%;
        font-size: 1.2rem;
        text-align: left;
    }

    #uni-logo {
        height: 3em;
    }

    @media only screen and (max-width:1240px) {

        #description-wrapper {
            flex-direction: column;
        }

        #iframe-refresh-button:before {
            opacity: 1;
        }

        #description {
            text-align: center;
        }
    }
</style>
